body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.container {
    margin-top: 20px;
}

h1, h2 {
    text-align: center;
    font-family: 'Times New Roman' 'sans-serif';
}

p {
    text-align: center;
}

img {
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
}

video {
    width: 250px;
    height: 360px;
    text-align: center;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.contact-info a, .social-links a {
    color: #ffffff;
    text-decoration: none;
}
.custom-table {
    background-color: #ffffff; /* White background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }

  .custom-table th, .custom-table td {
    text-align: center; /* Center text in cells */
    padding: 10px; /* Adjusted padding */
  }

  .custom-table thead th {
    background-color: #343a40; /* Dark background for header */
    color: #ffffff; /* White text for header */
  }

  .custom-table tbody tr:nth-child(even) {
    background-color: rgb(65, 118, 170); /* Alternate row color */
  }

  .custom-table tbody tr:hover {
    background-color: #32363a; /* Light background on hover */
  }

  .custom-table .btn {
    padding: 5px 10px; /* Adjust padding for buttons */
    margin: 2px; /* Adjust margin for buttons */
  }